<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-escale=1.0" />
    <title>Carreras</title>
</head>
<body>
    <header>
        <ul>
            <li> <a href="../index.html">Inicio</a></li>
            <li> <a href="carreras.html">Carreras</a></li>
            <li> <a href="coches.html">Coches</a></li>
            <li> <a href="equipo.html">Equipo</a></li>
            <li> <a href="tienda.html">Tienda</a></li>
        </ul>
    </header>
    <main>
        <h1>Red Bull Racing</h1>

        <p></p>

    </main>
    <footer>
        Derechos reservados &copy;2024
    </footer>
</body>
</html>