<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Coches</title>
    <meta name="viewport" content="width=device-width, initial-escale=1.0" />
</head>
<body>
    <header>
        <ul>
            <li> <a href="../index.html">Inicio</a></li>
            <li> <a href="carreras.html">Carreras</a></li>
            <li> <a href="coches.html">Coches</a></li>
            <li> <a href="equipo.html">Equipo</a></li>
            <li> <a href="tienda.html">Tienda</a></li>
        </ul>
    </header>
    <main>
        <h1>Coches de Formula Uno diseñados por Red Bull Racing</h1>

        <p>
            Red Bull Racing entró en la Formula Uno en el 2005 y para el ya 2024 ya lleva participando en 20 temporadas, por tanto se sabe que
            Red Bull ha creado 20 coches diferentes y tomando en cuenta que se fabrican uno por cada piloto da un total de 40 coches en total.
        </p>

        <p>
            Red Bull no se complica con nombrar sus coches, simplemente usan las iniciales de el nombre y le agregan el numero de su orden de
            creacion como por ejemplo el <b>RB 1</b> que fue el primer coche que crearon y el <b>RB 20</b> que es el coche actual
        </p>

        <p><b>Acontinuacion te mostraremos todos los coches de Reb Bull</b></p>

        <p>RB 1 (2005)</p>

        <p>RB 2 (2006)</p>

        <p>RB 3 (2007)</p>

        <p>RB 4 (2008)</p>

        <p>RB 5 (2009)</p>

        <p>RB 6 (2010)</p>

        <p>RB 7 (2011)</p>

        <p>RB 8 (2012)</p>

        <p>RB 9 (2013)</p>

        <p>RB 10 (2014)</p>

        <p>RB 11 (2015)</p>

        <p>RB 12 (2016)</p>

        <p>RB 13 (2017)</p>

        <p>RB 14 (2018)</p>

        <p>RB 15 (2019)</p>

        <p>RB 16 (2020)</p>

        <p>RB 16 B (2021)</p>

        <p>RB 18 (2022)</p>

        <p>RB 19 (2023)</p>

        <p>RB 20 (2024)</p>

    </main>
    <footer>
        Derechos reservados &copy;2024
    </footer>
</body>
</html>